body{
    background: rgb(13, 13, 57);
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    color: gold;
    text-shadow: 0 0 15px gold;
    font-size: 50px;
}

.saif{
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 25px;
}

.score{
    color: gold;
    text-shadow: 0 0 15px gold;
}

.lives{
    color: #ff4d6d;
    text-shadow: 0 0 15px red;
}

#gamecanves{
width: 800px;
height:500px ;
background: black;
border-radius: 20px;
border: 5px soled  gold;
box-shadow: 
0 0 20px #4c5001
0 0 20px #4c5001;
}